src/main/resources/xsd/dimonarequest/DimonaRequest_studenturen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Securex (Securex Rekencentrum Gent) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AC_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ADDRESSType">
		<xs:sequence>
			<xs:element ref="STREET_FULL"/>
			<xs:element ref="STREET" minOccurs="0"/>
			<xs:element ref="HOUSE_NR" minOccurs="0"/>
			<xs:element ref="BOX_NR" minOccurs="0"/>
			<xs:element ref="COMPLEMENT" minOccurs="0"/>
			<xs:element ref="ZIP"/>
			<xs:element ref="LOCALITY" minOccurs="0"/>
			<xs:element ref="COUNTRY"/>
			<xs:element ref="TEL" minOccurs="0"/>
			<xs:element ref="FAX" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AFFILIATIONType">
		<xs:sequence>
			<xs:element ref="EXPL_NR"/>
			<xs:element ref="EXPL_COMP_NAME" minOccurs="0"/>
			<xs:element name="EXPL_ADDRESS" type="ADDRESSType" minOccurs="0"/>
			<xs:element ref="FAO_NR" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BIRTH_COUNTRY" type="COUNTRYType"/>
	<xs:element name="BIRTH_DATE" type="DATEType"/>
	<xs:element name="BIRTH_PLACE" type="xs:string"/>
	<xs:element name="BOX_NR" type="xs:string"/>
	<xs:element name="CAT_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CAT_SOC_SYS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="CONTRACTType">
		<xs:all>
			<xs:element name="PAYGROUP" type="PAYGROUPType"/>
			<xs:element ref="CONTRACT_NUMBER" minOccurs="0"/>
			<xs:element name="DIMONA_DECLARATION" type="DIMONA_DECLARATIONType"/>
			<xs:element ref="AC_NR" minOccurs="0"/>
			<xs:element ref="CONTRACT_NATURE" minOccurs="0"/>
			<xs:element ref="DATE_EFF_START" minOccurs="0"/>
			<xs:element ref="REASON_END_CONTRACT" minOccurs="0"/>
			<xs:element ref="DATE_FORESEEN_END" minOccurs="0"/>
			<xs:element ref="DATE_BREACH" minOccurs="0"/>
			<xs:element name="WORKHOURS" type="WORKHOURSType" minOccurs="0"/>
			<xs:element ref="CONTRACT_DIMONA" minOccurs="0"/>
			<xs:element ref="NUM_C32A_START" minOccurs="0"/>
			<xs:element ref="NUM_C32A_NEXT" minOccurs="0"/>
			<xs:element ref="PAR_COM" minOccurs="0"/>
			<xs:element name="AFFILIATION" type="AFFILIATIONType" minOccurs="0"/>
			<xs:element name="CONTRACT_SOCIAL" type="CONTRACT_SOCIALType" minOccurs="0"/>
			<xs:element name="EMPLOYEE_STATUTE" type="EMPLOYEE_STATUTEtype" minOccurs="0"/>
			<xs:element name="CONTRACT_UUID" type="CONTRACT_UUIDtype" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="CONTRACT_DIMONA" type="xs:string"/>
	<xs:element name="CONTRACT_NATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CONTRACT_NATURE_ORIG" type="xs:string"/>
	<xs:element name="CONTRACT_NUMBER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="CONTRACT_SOCIALType">
		<xs:all>
			<xs:element ref="EMPLOYEE_TYPE" minOccurs="0"/>
			<xs:element ref="SOC_SYS" minOccurs="0"/>
			<xs:element ref="CAT_SOC_SYS" minOccurs="0"/>
			<xs:element ref="SUBCAT_SOC_SYS" minOccurs="0"/>
			<xs:element ref="RSZ_RITME" minOccurs="0"/>
			<xs:element ref="RSZ_CAT" minOccurs="0"/>
			<xs:element ref="PLANNED_DAYS_NR" minOccurs="0"/>
			<xs:element ref="PLANNED_HOURS_NR" minOccurs="0"/>
			<xs:element ref="HORECA_CONTINGENT_FLAG" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="EMPLOYEE_STATUTE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="COUNTRYType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="COUNTRY" type="COUNTRYType"/>
	<xs:element name="DATE_BREACH" type="DATEType"/>
	<xs:element name="DATE_BREACH_ORIG" type="DATEType"/>
	<xs:element name="DATE_EFF_START" type="DATEType"/>
	<xs:element name="DATE_EFF_START_ORIG" type="DATEType"/>
	<xs:element name="DATE_FORESEEN_END" type="DATEType"/>
	<xs:element name="DATE_FORESEEN_END_ORIG" type="DATEType"/>
	<xs:element name="DATE_START" type="DATEType"/>
	<xs:element name="DATE_STOP" type="DATEType"/>
	<xs:simpleType name="DATEType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{2}/\d{2}/\d{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PLANNED_DAYS_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PLANNED_HOURS_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	<xs:element name="DECLARATION_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="01"/>
				<xs:enumeration value="02"/>
				<xs:enumeration value="03"/>
				<xs:enumeration value="04"/>
				<xs:enumeration value="05"/>
				<xs:enumeration value="06"/>
				<xs:enumeration value="07"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DEP_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="DIMONA_DECLARATIONType">
		<xs:sequence>
			<xs:element ref="OCCASIONAL_WORKER_TYPE" minOccurs="0"/>
			<xs:element ref="DECLARATION_TYPE"/>
			<xs:element ref="DATE_EFF_START_ORIG" minOccurs="0"/>
			<xs:element ref="DATE_BREACH_ORIG" minOccurs="0"/>
			<xs:element ref="DATE_FORESEEN_END_ORIG" minOccurs="0"/>
			<xs:element ref="CONTRACT_NATURE_ORIG" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EMAIL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="|[a-zA-Z0-9._%\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EMPLOYEE_TYPE" type="xs:string"/>
	<xs:element name="EXPL_COMP_NAME" type="xs:string"/>
	<xs:element name="EXPL_NR" type="xs:string"/>
	<xs:element name="FAO_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FAX" type="xs:string"/>
	<xs:element name="FIRM_NR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{0,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FIRST_NAME" type="xs:string"/>
	<xs:element name="FULL_NAME" type="xs:string"/>
	<xs:element name="GENDER">
		<xs:simpleType>
			<xs:union>
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HERKOMST_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="02"/>
				<xs:enumeration value="03"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HORECA_CONTINGENT_FLAG">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(1|2)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="HOURLINEType">
		<xs:sequence>
			<xs:element ref="DATE_START"/>
			<xs:element ref="TIME_START"/>
			<xs:element ref="DATE_STOP"/>
			<xs:element ref="TIME_STOP"/>
			<xs:element ref="PAUZE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HOUSE_NR" type="xs:string"/>
	<xs:complexType name="PERSONType">
		<xs:all>
			<xs:element ref="FULL_NAME" minOccurs="0"/>
			<xs:element ref="LAST_NAME" minOccurs="0"/>
			<xs:element ref="FIRST_NAME" minOccurs="0"/>
			<xs:element ref="MIDDLE_INITIAL" minOccurs="0"/>
			<xs:element ref="GENDER" minOccurs="0"/>
			<xs:element ref="NATIONALITY" minOccurs="0"/>
			<xs:element ref="BIRTH_DATE" minOccurs="0"/>
			<xs:element ref="BIRTH_COUNTRY" minOccurs="0"/>
			<xs:element ref="BIRTH_PLACE" minOccurs="0"/>
			<xs:element ref="NUM_NAT_REG" minOccurs="0"/>
			<xs:element name="SAP_PERNR" minOccurs="0">
				<xs:annotation>
					<xs:documentation>identifier added for euHReka</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="NUM_SIS_CARD" minOccurs="0"/>
			<xs:element name="ADDRESS" type="ADDRESSType" minOccurs="0"/>
			<xs:element name="CONTRACT" type="CONTRACTType"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="LAST_NAME" type="xs:string"/>
	<xs:element name="LOCALITY" type="xs:string"/>
	<xs:element name="MIDDLE_INITIAL" type="xs:string"/>
	<xs:element name="NATIONALITY" type="COUNTRYType"/>
	<xs:element name="NUM_C32A_NEXT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\d{12})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUM_C32A_START">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\d{12})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUM_NAT_REG">
		<xs:annotation>
			<xs:documentation>national number from belgium (11) / france (8,7)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\d{11}|\d{8}|\d{7})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUM_SIS_CARD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OCCASIONAL_WORKER_TYPE" type="xs:string"/>
	<xs:element name="PAR_COM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PAUZE" type="xs:string"/>
	<xs:complexType name="PAYGROUPType">
		<xs:sequence>
			<xs:element ref="FIRM_NR"/>
			<xs:element ref="DEP_NR" minOccurs="0"/>
			<xs:element ref="CAT_NR" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="REASON_END_CONTRACT" type="xs:string"/>
	<xs:element name="REF" type="xs:string"/>
	<xs:element name="RSZ_CAT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RSZ_RITME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOC_SYS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STREET" type="xs:string"/>
	<xs:element name="STREET_FULL" type="xs:string"/>
	<xs:element name="COMPLEMENT" type="xs:string"/>
	<xs:element name="SUBCAT_SOC_SYS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TEL" type="xs:string"/>
	<xs:element name="TIMESTAMP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{2}/\d{2}/\d{4} \d{2}:\d{2}:\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TIME_START">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TIME_STOP">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="USER" type="xs:string"/>
	<xs:complexType name="WORKHOURSType">
		<xs:sequence>
			<xs:element name="HOURLINE" type="HOURLINEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="XEI_DIM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="REF" minOccurs="0"/>
				<xs:element name="ORIGIN_EUHREKA" type="xs:boolean" minOccurs="0"/>
				<xs:element ref="EMAIL" minOccurs="0"/>
				<!-- elements added by logging mechanism
                <xs:element ref="USER"/>
                <xs:element ref="TIMESTAMP"/>
                <xs:element ref="HERKOMST_TYPE"/>
-->
				<xs:element name="PAYMENT_TYPE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON" type="PERSONType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZIP" type="xs:string"/>
	<xs:simpleType name="EMPLOYEE_STATUTEtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONTRACT_UUIDtype">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
